@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: white;
  --foreground: black;
  --muted: slategray;
  --page_bg: #f1f2f5;
  --custom_border: white;
}

.dark {
  --background: #0c1014;
  --foreground: white;
  --muted: #9f9c9c;
  --page_bg: black;
  --custom_border: #2d2d2e;
}

.bg {
  color: #4385f0;
}

@theme {
  --color-slate: #787878;
  --color-darkbg: #212121;
  --color-page_bg: var(--page_bg);
  --color-nav: #2774f0;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-custom_border: var(--custom_border);
}
